day1/.ipynb_checkpoints/day1-checkpoint.ipynb
day2/.ipynb_checkpoints/day2-checkpoint.ipynb
day3/.ipynb_checkpoints/day3-checkpoint.ipynb
day4/.ipynb_checkpoints/day4-checkpoint.ipynb
day4/detail_examples.txt
day4/test.txt
day4/test2.txt
day5/.ipynb_checkpoints/day5-checkpoint.ipynb
day4/.ipynb_checkpoints/detail_examples-checkpoint.txt
day4/.ipynb_checkpoints/input-checkpoint.txt
day4/.ipynb_checkpoints/test2-checkpoint.txt
day5/.ipynb_checkpoints/input-checkpoint.txt
day6/.ipynb_checkpoints/day6-checkpoint.ipynb
day6/.ipynb_checkpoints/testinput-checkpoint.txt
day6/.ipynb_checkpoints/input-checkpoint.txt
day6/testinput.txt
day7/.ipynb_checkpoints/day7-checkpoint.ipynb
day7/.ipynb_checkpoints/input-checkpoint.txt
day7/.ipynb_checkpoints/kladd_day7-checkpoint.ipynb
day7/.ipynb_checkpoints/testinput-checkpoint.txt
day7/testinput.txt
day8/testinput.txt
day8/.ipynb_checkpoints/testinput-checkpoint.txt
day8/.ipynb_checkpoints/day8-checkpoint.ipynb
day10/.ipynb_checkpoints/day10-checkpoint.ipynb
day10/.ipynb_checkpoints/testinput_large-checkpoint.txt
day10/.ipynb_checkpoints/testinput_small-checkpoint.txt
day10/testinput_large.txt
day10/testinput_small.txt
day11/.ipynb_checkpoints/day11-checkpoint.ipynb
day11/.ipynb_checkpoints/input-checkpoint.txt
day11/.ipynb_checkpoints/testinput-checkpoint.txt
day8/.ipynb_checkpoints/day9-checkpoint.ipynb
day9/.ipynb_checkpoints/day9-checkpoint.ipynb
day9/.ipynb_checkpoints/input-checkpoint.txt
day9/testinput.txt
day15/.ipynb_checkpoints/day 15-checkpoint.ipynb
day11/testinput.txt
day22/.ipynb_checkpoints/day22-checkpoint.ipynb
day17/.ipynb_checkpoints/input-checkpoint.txt
day17/.ipynb_checkpoints/testinput-checkpoint.txt
day22/day22-checkpoint.ipynb
day17/.ipynb_checkpoints/day17-checkpoint.ipynb
.ipynb_checkpoints/.gitignore-checkpoint
.ipynb_checkpoints/.ipynb_checkpoints/.gitignore-checkpoint-checkpoint
